### Machine Learning 

> Dataset: https://archive.ics.uci.edu/ml/datasets/Wine+Quality

In [1]:
import pandas as pd
import numpy as np
import glob
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn import metrics

In [2]:
db_red=pd.read_csv('winequality-red.csv', sep =';')
db_white=pd.read_csv('winequality-white.csv', sep =';')
len(db_red)

1599

In [3]:
# Define o label
label_aux = [], []

def label(df, value):
    label_aux = []
    for label in range(len(df)): label_aux.append(value)
    df['label'] = label_aux
     

label(db_red, 0) #'red'
label(db_white, 1) #'white'

In [4]:
df = pd.merge(db_red, db_white, how = 'outer')
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,label
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
2,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,0
3,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,0
4,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,1
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,1
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,1
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,1
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,1

In [5]:
features, label = [], []

def features_extraction(d):
    features_list = []
    for i in range(6495):
        features.append(d[i])
        label.append(d[i][12])
    return features

d = df.to_numpy().tolist()
features = features_extraction(d)

In [6]:
X_train,X_test,y_train,y_test = train_test_split(features,label,test_size=0.3)

In [44]:
#X = np.array([[1, 2], [1, 4], [1, 0],
#...               [10, 2], [10, 4], [10, 0]])
kmeans = KMeans(n_clusters=2, random_state=None).fit(X_train)
#print(y_test)
print(kmeans.labels_)
print(kmeans.predict(X_test))
kmeans.cluster_centers_

acc_Kmeans = metrics.accuracy_score(y_test, kmeans.predict(X_test))
print(acc_Kmeans)

[0 0 1 ... 0 1 0]
[0 1 1 ... 1 0 0]
0.7773217034376604

In [9]:
treinamento=df.sample(frac=.8,random_state=200)
teste=df.drop(treinamento.index)
treinamento=treinamento.reset_index(drop=True)
teste=teste.reset_index(drop=True)

In [12]:
for i,r in teste.iterrows():
    distancias=[]
    for j,t in treinamento.iterrows():
        dist=np.linalg.norm(r[:12]-t[:12])
        distancias.append([dist,t[12]])
    distancias.sort(key=lambda x:x[0])
    distancias=distancias[:11]
    classes=[d[1] for d in distancias]
    classe= max(set(classes),key=classes.count)
    teste.at[i,'classe_kmens']=classe

In [43]:
label_teste, label_classe_kmens=[],[]
for i,r in teste.iterrows():
    label_teste.append(r['label'])
    label_classe_kmens.append(r['classe_kmens'])


iguais = [elemento for elemento in label_teste if not(elemento in label_classe_kmens)]
len(iguais)

0

In [45]:
teste

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,label,classe_kmens
2,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.800000,5,0,0.0
17,8.1,0.56,0.28,1.7,0.368,16.0,56.0,0.99680,3.11,1.28,9.300000,5,0,0.0
18,7.4,0.59,0.08,4.4,0.086,6.0,29.0,0.99740,3.38,0.50,9.000000,4,0,0.0
37,8.1,0.38,0.28,2.1,0.066,13.0,30.0,0.99680,3.23,0.73,9.700000,7,0,0.0
48,6.4,0.40,0.23,1.6,0.066,5.0,12.0,0.99580,3.34,0.56,9.200000,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6462,6.2,0.36,0.32,4.0,0.036,44.0,92.0,0.98936,3.20,0.50,13.300000,7,1,1.0
6467,5.8,0.23,0.31,4.5,0.046,42.0,124.0,0.99324,3.31,0.64,10.800000,6,1,1.0
6473,5.6,0.20,0.36,2.5,0.048,16.0,125.0,0.99282,3.49,0.49,10.000000,6,1,1.0
6478,6.6,0.34,0.40,8.1,0.046,68.0,170.0,0.99494,3.15,0.50,9.533333,6,1,1.0
6482,4.9,0.47,0.17,1.9,0.035,60.0,148.0,0.98964,3.27,0.35,11.500000,6,1,1.0

> 1. Junte os dois conjunto de dados de Vinho tinto de vinho branco separa esses dados em treinamento e teste, utilizando o k-means crie uma categoria para cada tipo de vinho utilizando os dados de treinamento para definir as categorias, classifique os vinhos de teste e compara o rotulo original deles com o rotulo do kmeans (30 pontos)

In [ ]:
train_red=db_red.sample(frac=.8,random_state=200)
train_white=db_white.sample(frac=.8,random_state=200)

teste_red=db_red.drop(train_red.index)
teste_white=db_white.drop(train_white.index)

In [ ]:
filenames = [i for i in glob.glob('*.{}'.format('csv'))]
#combinar todos os arquivos da lista
db_combined = pd.concat([pd.read_csv(f) for f in filenames ])
db_combined.to_csv("combined_csv.csv")
db_combined2=pd.read_csv('combined_csv.csv', sep =';')
#exportar para csv
'''db_combined.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')
db_combined2=pd.read_csv('combined_csv.csv', sep =';')'''

db_combined2

In [ ]:
db_combined2